<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103092138322-ok3360m58r0a94dhl0dmpha891chfgrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103092138322-ok3360m58r0a94dhl0dmpha891chfgrd</string>
	<key>API_KEY</key>
	<string>AIzaSyBoEKYiNu1d3PIR3oaYFe0YtUEiBAFFTSc</string>
	<key>GCM_SENDER_ID</key>
	<string>103092138322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.willowrod.FakeAChip</string>
	<key>PROJECT_ID</key>
	<string>fake-a-chip</string>
	<key>STORAGE_BUCKET</key>
	<string>fake-a-chip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103092138322:ios:bb9e589215db22d9940a8b</string>
</dict>
</plist>